In [1]:
import pandas as pd

In [2]:
student_num= pd.read_excel("student_num.xlsx",header=1,skipfooter=4)
# header=1부터 해야 엑셀의 첫번쨰 줄인 컬럼명 다음줄인 2번째 줄부터 데이터로 들어간다.
# usecols='A:G'   A부터 G열까지의 데이터만 가져온다. 
# skipfooter=4  밑에서부터 4개의 행은 제외하고 가져온다.

In [3]:
student_num.head(10)
# 컬렴명에 '??.1'형식으로 되어 있는 컬럼은 제거하자!

,시도,교육청,설립,계,계.1,유치원,유치원.1,초등학교,초등학교.1,중학교,...,자율고,자율고.1,특수학교,특수학교.1,고등공민학교,고등공민학교.1,고등기술학교,고등기술학교.1,각종학교,각종학교.1
0,시도,교육청,설립,계,여,계,여,계,여,계,...,계,여,계,여,계,여,계,여,계,여
1,전국,계,국립,26037,11644,273,134,8697,4339,4065,...,-,-,850,298,-,-,-,-,566,458
2,전국,계,공립,4701568,2264121,178628,86842,2647300,1286313,1095088,...,68387,27813,14932,4969,17,11,-,-,746,367
3,전국,계,사립,1267642,624650,433637,215201,37719,18724,216693,...,34813,9946,10487,3488,31,11,552,223,7646,4384
4,전국,계,소계,5995247,2900415,612538,302177,2693716,1309376,1315846,...,103200,37759,26269,8755,48,22,552,223,8958,5209
5,서울,서울시,국립,2157,1330,-,-,-,-,-,...,-,-,470,204,-,-,-,-,-,-
6,서울,서울시,공립,76607,33913,-,-,-,-,-,...,11217,5358,1680,532,-,-,-,-,119,45
7,서울,서울시,사립,150352,75883,-,-,-,-,-,...,20640,5155,2257,755,-,-,38,14,236,121
8,서울,서울시,소계,229116,111126,-,-,-,-,-,...,31857,10513,4407,1491,-,-,38,14,355,166
9,서울,동부,공립,36258,16987,1170,540,25231,12247,9857,...,-,-,-,-,-,-,-,-,-,-

In [4]:
student_num_2 = student_num[(student_num['교육청']=='계')&(student_num['설립']=='소계')]
student_num_2

,시도,교육청,설립,계,계.1,유치원,유치원.1,초등학교,초등학교.1,중학교,...,자율고,자율고.1,특수학교,특수학교.1,고등공민학교,고등공민학교.1,고등기술학교,고등기술학교.1,각종학교,각종학교.1
4,전국,계,소계,5995247,2900415,612538,302177,2693716,1309376,1315846,...,103200,37759,26269,8755,48,22,552,223,8958,5209
49,서울,계,소계,923176,448509,74657,36701,409536,199293,207081,...,31857,10513,4407,1491,-,-,38,14,3141,2334
73,부산,계,소계,346578,167366,40765,20026,153527,74717,73749,...,6446,2510,1786,600,-,-,130,73,48,27
95,대구,계,소계,288291,138784,35651,17597,122587,59543,62563,...,10802,5164,1588,544,-,-,-,-,95,49
119,인천,계,소계,348285,169152,38319,18913,156928,76478,76346,...,5313,2309,1643,566,-,-,120,76,43,14
134,광주,계,소계,200297,96629,23220,11485,86419,41850,43415,...,2026,632,1017,369,-,-,21,18,593,303
146,대전,계,소계,186272,89846,22132,10808,79807,38764,40694,...,6874,1915,1004,314,-,-,-,-,150,106
158,울산,계,소계,148256,71005,16882,8331,67397,32497,31797,...,1755,776,773,258,-,-,-,-,16,-
164,세종,계,소계,59042,29251,6763,3350,29487,14438,12395,...,616,300,151,57,-,-,-,-,-,-
247,경기,계,소계,1651636,803742,169686,83921,761731,371190,362917,...,8783,4234,4914,1523,31,11,-,-,2158,1235
307,강원,계,소계,166743,80377,14679,7323,73478,35755,37836,...,463,208,823,287,-,-,-,-,121,57
345,충북,계,소계,186058,89774,16049,8029,85135,41404,41458,...,3943,1530,1294,434,-,-,-,-,573,183
396,충남,계,소계,262223,126065,25594,12613,120115,58242,57541,...,5153,2018,1068,359,-,-,84,42,30,12
444,전북,계,소계,218763,105199,21188,10420,94661,45911,48873,...,1089,364,1109,373,-,-,-,-,-,-
515,전남,계,소계,206759,100426,17889,8889,92405,45215,46050,...,4869,1369,1117,383,-,-,-,-,186,88
591,경북,계,소계,296917,141221,35478,17440,129079,62083,62499,...,6645,2398,1456,440,-,-,-,-,1506,650
653,경남,계,소계,420356,201968,47191,23144,190849,92304,91164,...,6566,1519,1641,600,17,11,159,-,298,151
668,제주,계,소계,85595,41101,6395,3187,40575,19692,19468,...,-,-,478,157,-,-,-,-,-,-

In [5]:
# 전국 합계와 각 도시의 총합이 일치하는 지 확인
student_num_2[(student_num_2 ['교육청']=='계')&(student_num_2 ['설립']=='소계')]['계']

# 리스트로 변환!
list_student = list(student_num_2[(student_num_2['교육청']=='계')&(student_num_2['설립']=='소계')]['계'])

list_student[0] == sum(list_student[1:])

True

In [6]:
# 열 이름이 ''??.1' ,  '??.2' , '??.3'   형태인 것은 삭제! 

student_num_2.columns

Index(['시도', '교육청', '설립', '계', '계.1', '유치원', '유치원.1', '초등학교', '초등학교.1', '중학교',
       '중학교.1', '계.2', '계.3', '일반고', '일반고.1', '특목고', '특목고.1', '특성화고', '특성화고.1',
       '자율고', '자율고.1', '특수학교', '특수학교.1', '고등공민학교', '고등공민학교.1', '고등기술학교',
       '고등기술학교.1', '각종학교', '각종학교.1'],
      dtype='object')

In [7]:
# 컬럼이름을 받아서 이름안에 1, 2 혹은 3이 있으면 그 열은 삭제

for i in student_num_2.columns:
    if str(1) in i or str(2) in i or str(3) in i:
        student_num_2.drop(i, axis=1, inplace=True)

student_num_2.reset_index(drop=True,inplace=True) 
student_num_2

C:\Users\ZENBOOK\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,시도,교육청,설립,계,유치원,초등학교,중학교,일반고,특목고,특성화고,자율고,특수학교,고등공민학교,고등기술학교,각종학교
0,전국,계,소계,5995247,612538,2693716,1315846,957497,64493,212130,103200,26269,48,552,8958
1,서울,계,소계,923176,74657,409536,207081,141699,12308,38452,31857,4407,-,38,3141
2,부산,계,소계,346578,40765,153527,73749,48053,6848,15226,6446,1786,-,130,48
3,대구,계,소계,288291,35651,122587,62563,39319,4119,11567,10802,1588,-,-,95
4,인천,계,소계,348285,38319,156928,76346,51286,3779,14508,5313,1643,-,120,43
5,광주,계,소계,200297,23220,86419,43415,35163,1418,7005,2026,1017,-,21,593
6,대전,계,소계,186272,22132,79807,40694,26703,2949,5959,6874,1004,-,-,150
7,울산,계,소계,148256,16882,67397,31797,22669,2161,4806,1755,773,-,-,16
8,세종,계,소계,59042,6763,29487,12395,8400,804,426,616,151,-,-,-
9,경기,계,소계,1651636,169686,761731,362917,287627,11943,41846,8783,4914,31,-,2158
10,강원,계,소계,166743,14679,73478,37836,31471,1637,6235,463,823,-,-,121
11,충북,계,소계,186058,16049,85135,41458,25114,2216,10276,3943,1294,-,-,573
12,충남,계,소계,262223,25594,120115,57541,40178,2383,10077,5153,1068,-,84,30
13,전북,계,소계,218763,21188,94661,48873,41050,2815,7978,1089,1109,-,-,-
14,전남,계,소계,206759,17889,92405,46050,29806,2571,11866,4869,1117,-,-,186
15,경북,계,소계,296917,35478,129079,62499,45208,3230,11816,6645,1456,-,-,1506
16,경남,계,소계,420356,47191,190849,91164,68530,2930,11011,6566,1641,17,159,298
17,제주,계,소계,85595,6395,40575,19468,15221,382,3076,-,478,-,-,-

In [8]:
student_num_2.shape     # 원래 열길이가 29개 였는데 제거 후 15개가 되었다.

(18, 15)

In [11]:
# '-' 는 0으로 처리
student_num_2 = student_num_2.replace('-',0)

In [12]:
student_num_2

,시도,교육청,설립,계,유치원,초등학교,중학교,일반고,특목고,특성화고,자율고,특수학교,고등공민학교,고등기술학교,각종학교
0,전국,계,소계,5995247,612538,2693716,1315846,957497,64493,212130,103200,26269,48,552,8958
1,서울,계,소계,923176,74657,409536,207081,141699,12308,38452,31857,4407,0,38,3141
2,부산,계,소계,346578,40765,153527,73749,48053,6848,15226,6446,1786,0,130,48
3,대구,계,소계,288291,35651,122587,62563,39319,4119,11567,10802,1588,0,0,95
4,인천,계,소계,348285,38319,156928,76346,51286,3779,14508,5313,1643,0,120,43
5,광주,계,소계,200297,23220,86419,43415,35163,1418,7005,2026,1017,0,21,593
6,대전,계,소계,186272,22132,79807,40694,26703,2949,5959,6874,1004,0,0,150
7,울산,계,소계,148256,16882,67397,31797,22669,2161,4806,1755,773,0,0,16
8,세종,계,소계,59042,6763,29487,12395,8400,804,426,616,151,0,0,0
9,경기,계,소계,1651636,169686,761731,362917,287627,11943,41846,8783,4914,31,0,2158
10,강원,계,소계,166743,14679,73478,37836,31471,1637,6235,463,823,0,0,121
11,충북,계,소계,186058,16049,85135,41458,25114,2216,10276,3943,1294,0,0,573
12,충남,계,소계,262223,25594,120115,57541,40178,2383,10077,5153,1068,0,84,30
13,전북,계,소계,218763,21188,94661,48873,41050,2815,7978,1089,1109,0,0,0
14,전남,계,소계,206759,17889,92405,46050,29806,2571,11866,4869,1117,0,0,186
15,경북,계,소계,296917,35478,129079,62499,45208,3230,11816,6645,1456,0,0,1506
16,경남,계,소계,420356,47191,190849,91164,68530,2930,11011,6566,1641,17,159,298
17,제주,계,소계,85595,6395,40575,19468,15221,382,3076,0,478,0,0,0

In [13]:
# '교육청','설립' 컬럼 삭제
student_num_2.drop(['교육청','설립'], axis=1, inplace=True)
student_num_2

,시도,계,유치원,초등학교,중학교,일반고,특목고,특성화고,자율고,특수학교,고등공민학교,고등기술학교,각종학교
0,전국,5995247,612538,2693716,1315846,957497,64493,212130,103200,26269,48,552,8958
1,서울,923176,74657,409536,207081,141699,12308,38452,31857,4407,0,38,3141
2,부산,346578,40765,153527,73749,48053,6848,15226,6446,1786,0,130,48
3,대구,288291,35651,122587,62563,39319,4119,11567,10802,1588,0,0,95
4,인천,348285,38319,156928,76346,51286,3779,14508,5313,1643,0,120,43
5,광주,200297,23220,86419,43415,35163,1418,7005,2026,1017,0,21,593
6,대전,186272,22132,79807,40694,26703,2949,5959,6874,1004,0,0,150
7,울산,148256,16882,67397,31797,22669,2161,4806,1755,773,0,0,16
8,세종,59042,6763,29487,12395,8400,804,426,616,151,0,0,0
9,경기,1651636,169686,761731,362917,287627,11943,41846,8783,4914,31,0,2158
10,강원,166743,14679,73478,37836,31471,1637,6235,463,823,0,0,121
11,충북,186058,16049,85135,41458,25114,2216,10276,3943,1294,0,0,573
12,충남,262223,25594,120115,57541,40178,2383,10077,5153,1068,0,84,30
13,전북,218763,21188,94661,48873,41050,2815,7978,1089,1109,0,0,0
14,전남,206759,17889,92405,46050,29806,2571,11866,4869,1117,0,0,186
15,경북,296917,35478,129079,62499,45208,3230,11816,6645,1456,0,0,1506
16,경남,420356,47191,190849,91164,68530,2930,11011,6566,1641,17,159,298
17,제주,85595,6395,40575,19468,15221,382,3076,0,478,0,0,0

In [26]:
# 학교형태별로 전국 = 나머지합 이 되는지 확인
for i in range(len(student_num_2.columns)-1):
    print(list(student_num_2.iloc[:,i+1])[0] ==  sum(list(student_num_2.iloc[:,i+1])[1:]))
    
    
    
# for문이 돌아가는 범위에 -1을 한 이유는 '시도'컬럼은 합계를 계산하지 않기 때문에 제외되었기 때문에 1을 뺸 것이다.
# student_num_2.iloc를 이용해 열로 접근. 계산을 시작하는 열은  0번재열인 '시도'가  아닌 1번째 열인 '계' 이다.
# 근데 열을 i로 받게되면 0번째 열부터 계산이 되기 때문에 i+1을 하였다. 
# 이렇게 열로 접근한 것을 리스트로 받아 리스트내의 0번째 방, 즉 전국
# 그리고 1번째 방부터 끝까지의 합을 구해서 둘이 같은지 확인. 모두 true가 나오면 성공!!

True
True
True
True
True
True
True
True
True
True
True
True

In [32]:
# 지역별로 '계'= 학교별 합이 되는지 확인

for i in range(len(student_num_2)):
    print(list(student_num_2.loc[i,])[1] == sum(list(student_num_2.loc[i,])[2:]))
    
    
# 행길이 만큼 for문을 돌려서 지역별로 합을 확인
# loc(행)으로 접근. 0번째 행부터 계산. 그 것을 리스트로 만든다. 그러면 리스트의 0번째에는 각 '시도'이름이 오기 때문에
# 리스트의 1번 째 방('계') == 나머지들의 합과 같은지 확인. true이면 성공!!

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [36]:
# 정리한 student_num_2를 csv로 저장한다. 
student_num_2 

student_num_2.to_csv('student_num_2.csv',index=False,encoding='utf-8-sig')

In [39]:
# 확인차 불러오기
pd.read_csv('student_num_2.csv')

,시도,계,유치원,초등학교,중학교,일반고,특목고,특성화고,자율고,특수학교,고등공민학교,고등기술학교,각종학교
0,전국,5995247,612538,2693716,1315846,957497,64493,212130,103200,26269,48,552,8958
1,서울,923176,74657,409536,207081,141699,12308,38452,31857,4407,0,38,3141
2,부산,346578,40765,153527,73749,48053,6848,15226,6446,1786,0,130,48
3,대구,288291,35651,122587,62563,39319,4119,11567,10802,1588,0,0,95
4,인천,348285,38319,156928,76346,51286,3779,14508,5313,1643,0,120,43
5,광주,200297,23220,86419,43415,35163,1418,7005,2026,1017,0,21,593
6,대전,186272,22132,79807,40694,26703,2949,5959,6874,1004,0,0,150
7,울산,148256,16882,67397,31797,22669,2161,4806,1755,773,0,0,16
8,세종,59042,6763,29487,12395,8400,804,426,616,151,0,0,0
9,경기,1651636,169686,761731,362917,287627,11943,41846,8783,4914,31,0,2158
10,강원,166743,14679,73478,37836,31471,1637,6235,463,823,0,0,121
11,충북,186058,16049,85135,41458,25114,2216,10276,3943,1294,0,0,573
12,충남,262223,25594,120115,57541,40178,2383,10077,5153,1068,0,84,30
13,전북,218763,21188,94661,48873,41050,2815,7978,1089,1109,0,0,0
14,전남,206759,17889,92405,46050,29806,2571,11866,4869,1117,0,0,186
15,경북,296917,35478,129079,62499,45208,3230,11816,6645,1456,0,0,1506
16,경남,420356,47191,190849,91164,68530,2930,11011,6566,1641,17,159,298
17,제주,85595,6395,40575,19468,15221,382,3076,0,478,0,0,0